@model Enterprises_manufacturing_goods.Finproducts

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<div>
    <h4>Готовая продукция</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Countproducts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Countproducts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitNavigation.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
       
    </form>
</div>
<div>
    <a asp-action="Index">Назад</a>
</div>
