@model Enterprises_manufacturing_goods.Models.SalaryEmp

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<div>
    <h4>Зарплата</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipationPurchase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParticipationPurchase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipationSale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParticipationSale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipationProduction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParticipationProduction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountParticipation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountParticipation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryEmployee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalaryEmployee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Issued)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Issued)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNavigation.Fullname)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
</div>
<div>
    <a asp-action="Index">Назад</a>
</div>