@model IEnumerable<Enterprises_manufacturing_goods.Models.SalaryEmp>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        font-size: 14px;
    }

    a {
        text-decoration: none;
        color: green;
    }

    h1 {
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }

    .Back {
        font-size: 20px;
    }

    .allsumm, em {
        color: green;
    }
    .table {
       
    }
    /* .sub{
      width:auto;
      font-size:
        background-color:green;
        color:black;
    }*/
    .error {
        color: red;
        font-size: 25px;
        text-align: center;
    }
    .container,.table{
        margin-left:1%;
    }
    .ct{
        text-align:center;
        padding-left:25%;
        padding-top:60px;
    }
</style>

<div class="ct">
    <h1 class="display-4">Предприятия по производству кондитерских изделий</h1>
</div>
<br />
<style>
        .Error {
            color: red;
            font-size: 30px;
        }

    </style>

    <br />
    <div class="Error">
        <p>@ViewBag.AddMessege</p>
    </div>
    <br />
<h1>Зарплата</h1>

<form asp-action="Index" name="frm">
    <p>
        <main class="container-fluid pt-3">
            <div class="d-flex justify-content-end">

                <div class="row g-3">
                    @Html.DropDownList("yearString", ViewBag.Year as SelectList, "Выберите год", new { @id = "Ye", @class = "form-control", style = "width:auto;" })
                   
                    <div class="col-auto">
                        @Html.DropDownList("monthString", ViewBag.Month as SelectList, "Выберите месяц", new { @id = "Mo", @class = "form-control", style = "width:auto;" })
                      
                    </div>
                   
                    <button type="submit" asp-action="IndexCopyAdd" class="btn btn-dark accept-policy">Выдать зарплату</button>
                    <div class="col-auto">
                        <a asp-action="Index" class="btn btn-dark">Все записи</a>
                    </div>

                </div>
                </div>
            <p></p>
        </main>
    </p>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>



    $("#Mo").change(function () {
        $("#Mo").val = $("#Mo");
       
        let form = document.forms.frm
        form.submit();

    });

</script>

<body>
    <div class="container">
        <table class="table" align="left">
            <thead class="tbl">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Year)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Month)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParticipationPurchase)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParticipationSale)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParticipationProduction)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CountParticipation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SalaryEmployee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bonus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Issued)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.YearNavigation.YearName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MonthNavigation.MonthName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeNavigation.Fullname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParticipationPurchase)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParticipationSale)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParticipationProduction)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountParticipation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalaryEmployee)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Bonus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Issued)
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="allsumm">
    <h4>Общая сумма всех сотрудников:  <em>@ViewBag.Summa</em></h4>
    </div>
</body>

